[user]
	email = lukas.jurk@tu-dresden.de
	name = Lukas Jurk
	signingkey = ~/.ssh/id_ed25519
[diff]
	tool = nvimdiff

[difftool]
	prompt = false

[pull]
	rebase = true
[push]
    autoSetupRemote = true
[rebase]
	autoStash = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
