[user]
    email = lukas.jurk@tu-dresden.de
    name = Lukas Jurk
    signingkey = ~/.ssh/id_ed25519

[diff]
    tool = nvimdiff

[difftool]
    prompt = false

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[rebase]
    autoStash = true

[gpg]
    format = ssh

[commit]
    gpgsign = true

[gpg "ssh"]
    allowedSignersFile = ./allowed_signers

[alias]
    check-signed = "!sh -c ' \
        verbose=false; \
        if [ \"$0\" = \"-v\" ]; then \
            verbose=true; \
        fi; \
        all_signed=true; \
        for commit in $(git rev-list --all); do \
            sha=$(git show -s --format=%H $commit); \
            message=$(git show -s --format=%s $commit); \
            if ! git verify-commit $commit >/dev/null 2>&1; then \
                if [ \"$verbose\" = true ]; then \
                    echo \"Commit $sha is not signed. Message: $message\"; \
                else \
                    echo \"not ok\"; \
                    exit 1; \
                fi; \
                all_signed=false; \
            fi; \
        done; \
        if [ \"$all_signed\" = true ]; then \
            echo \"ok\"; \
        else \
            echo \"not ok\"; \
        fi \
    '"
